PLEX_URL=http://your_plex_url_here:32400
# Get your token: https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/
PLEX_TOKEN=your_plex_token_here
# Get your API key: https://fanart.tv/get-an-api-key/
FANART_API_KEY=your_fanart_api_key_here
LIBRARY_NAME=your_library_name_here
# Set to false to disable automatic Plex updates when saving fanart changes
UPDATE_PLEX=true
